---
title: "Litmal – Share nice readable fiction"
---
<div class="homepage">

  <div class="banner">
    <div class="blurb">
      <h1>Litmal <small>Share nice readable fiction</small></h1>

      <p>Litmal is a place to read and share short works of fiction,
      in a format designed to be nice and readable on phones, tablets,
      and larger screens.</p>
    </div>
  </div>

  <div class="row">
    <div class="featured col-md-4">
      <span class="home-tag">Editor's Pick</span>
      <% if featured_work %>
        <div class="lif-document">
          <h2 class="title"><%= featured_work.title %></h2>
          <%== featured_work.blurb_html %>
        </div>
        <a class="read-more" href="<%= featured_work.path %>">Continue reading &rarr;</a>
      <% else %>
        <p>None</p>
      <% end %>
    </div>

    <div class="latest col-md-4">
      <span class="home-tag">Latest</span>
      <% if latest_work %>
        <div class="lif-document">
          <h2 class="title"><%= latest_work.title %></h2>
          <%== latest_work.blurb_html %>
        </div>
        <a class="read-more" href="<%= latest_work.path %>">Continue reading &rarr;</a>
      <% else %>
        <p>None</p>
      <% end %>
    </div>

    <div class="feature col-md-4">
      <span class="home-tag">How It Works</span>
      <p>Litmal extracts text from Word documents. It's as easy as uploading a
      docx file.</p>
      <p>Register today to upload your own work of fiction. It's free!</p>
      <p>
        <a href="<%= register_user_form_path %>" class="btn btn-primary">Register</a>
        <a href="#" class="btn btn-default">Learn more</a>
      </p>
    </div>
  </div>

</div>
